.himachal-tour-packages-content{
    display: flex;
    padding-bottom: 2%;
  }
  
  .himachal-tour-packages-details h1{
    /* text-align: center; */
    padding-top: 6%;
    padding-left: 26%;
  
  }
  
  .himachal-tour-packages-details p{
    padding-left: 26%;
    padding-right: 14%;
    padding-top: 2%;
    font-size: 110%;
    /* line-height: 160%; */
    /* padding: 2% 18% 2% 18%; */
  
  }
  
  .himachal-tour-packages-details span{
    color: red;
  }
  
  .himachal-tour-packages-image{
    /* padding-left: 5%; */
    margin-right: 10%;
  }
  
  
  .himachal-tour-packages-cards {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 1%;
    padding-bottom: 1.5%;
    flex-wrap: wrap;
  }
  
  .himachal-tour-packages-cards-yellow {
    background-color: #fef9f4;
  }
  
  .himachal-tour-packages-cards-yellow h3 {
    /* text-align: center; */
    padding: 1.5% 0;
  }
  
  .all-cards h3 {
    /* text-align: center; */
    padding: 1.5% 0;
  }
  
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2%;
  }
  
  /* Responsive Styles */
  
  /* Tablets and below */
  @media (max-width: 1024px) {
    .himachal-tour-packages-cards-yellow h3,
    .all-cards h3 {
      /* margin-left: 5%; */
      padding-top: 1.5%;
      padding-bottom: 1.5%;
    }
  
    .himachal-tour-packages-cards {
      justify-content: center;
      /* padding-left: 5%; */
    }
  
    .himachal-tour-packages-cards-all {
      width: 45%; /* Two cards in a row on tablets */
      margin: 2.5%;
    }
  }
  
  /* Mobile devices */
  @media (max-width: 768px) {
    .himachal-tour-packages-cards {
      flex-direction: column;
      /* align-items: center; */
      padding-left: 5%;
    }
  
    .himachal-tour-packages-cards-all {
      width: 90%; /* One card per row on mobile */
      margin: 5%;
    }
  }

  @media (min-width: 1025px) and (max-width: 1850px) {
    .himachal-tour-packages-cards-all {
      width: 30%; /* Adjust the width to accommodate more cards per row */
      margin: 1.5%; /* Adjust margin for spacing */
    }
  }
  

  .himachal-tour-packages-details2{
    border: 1px solid rgb(197, 193, 193);
    margin-left: 15%;
    margin-right: 15%;
    padding-right: 8%;
  }
  
  .himachal-tour-packages-details2 h3, h5{
    padding-left: 10%;
    padding-bottom: 1%;
    /* padding-top: 1%; */
  }
  
  .himachal-tour-packages-details2 h5{
    color: red;
    padding-top: 2%;
  }
  
  .himachal-tour-packages-details2 p{
    padding-left: 10%;
    padding-bottom: 5%;
  }

  .himachal-tour-packages-details2 span{
    font-weight: 600;
    color: black;
  }

  .himachal-tour-packages-details2 li{
    list-style: disc;
    color: red;

  }

  .himachal-tour-packages-details2 div{
    color: black;
    display: inline-block;

  }

.himachal-tour-packages-cards-all img{
  height: 142.8px;
  width: 243px;
}


.himachal-tour-packages-cards-all{
  transition: transform 0.5s;
}

.himachal-tour-packages-cards-all:hover {
  transform: scale(1.05); /* Adjust the scale factor as needed */
}



