
.form-container {
  height: 100%;
  background: linear-gradient(to right, red 0%, rgba(255, 0, 0, 0.267) 100%);
  padding: 2% 0 0 30%;
}



.table-container h3 {
  font-size: xx-large;
  padding-bottom: 5%;
  color: white;
  margin-left: -15%;
}

.form-heading{
  margin-left: -18% !important;

}

.form-table {
  color: #fff;
  height: auto;
  border-spacing: 0;
  width: 100%;
  margin-left: -15%;
}

.form-tab{
  margin-left: -18% !important;

}

.form-table th,
.form-table td {
  padding: 15px;
  text-align: left;
}

.form-table button {
  margin-right: 5px;
  display: inline-block; /* Ensures buttons appear on the same line */
  padding: 8px 12px; /* Adjust padding as needed */
  background-color: #978f8f; /* Green background */
  color: white; /* White text color */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
}

.form-table button:hover {
  background-color: #000000; 
}

.form-table button:last-child {
  margin-right: 0; 
}

tbody tr:hover{
  background: rgb(163, 160, 160);
  border-radius: 20px;
}
